.recentTransactionBox {
    border-style: solid;
    border-color: rgba(182,194,206,255); 
    padding: 1%;
    background-color: rgba(206,216,224,255);
    color: rgba(88,103,114,255);
   
  }
  .pageStyle{
    color: rgba(88,103,114,255);
  }